<div class="container-fluid">
    <div class="mt-2 mb-2">
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="search your order">
        </mat-form-field>
    </div>
   
    <table class="table table-hover table-responsive" style="width: 100%;">
        <thead >
            <tr >
                <th class="text-danger">User Name</th>
                <th class="text-danger">Order Id</th>
                <th class="text-danger">Quantity</th>
                <th class="text-danger">Product Name</th>
                <th class="text-danger" >Amount</th>
                <th class="text-danger">Order Status</th>
                <th class="text-danger">Action</th>
            </tr>
        </thead>
        <tbody>
            @for(order of filterData; track order){
                <tr >
                    <td>{{ order.user.name }}</td>
                    <td>{{ order.id }}</td>
                    <td>
                      <ul class="list-unstyled">
                        @for(item of order.items; track item){
                            <li >
                                {{ item.quantity }}
                            </li>
                           
                        }
                        
                      </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                          @for(item of order.items; track item){
                             
                              <li>
                                  {{ item.product.name }}
                              </li>
                          }
                          
                        </ul>
                      </td>
                    <td>&#8377; {{ order.totalPrice }} /-</td>
                    <td [ngStyle]="{ 'color': getStatusColor(order.status) }" >
                        <div style="height: 50px; width: 100px; border-radius: 7px;  text-align: center; padding-top: 10px; box-shadow: var(--box-shadow);">{{ order.status }}</div>
                        </td>
                    <td>
                        <button mat-icon-button (click)="updateStatus(order)"><mat-icon>edit</mat-icon></button>
                      </td>
                  </tr>
                  
            }
            
        </tbody>
    </table>
   
</div>