@if(isOpen){
    <div class="cart-content animate__animated animate__flipInY">
        <mat-toolbar color="warn" style="display: flex; justify-content: space-between; height: 50px;">
        <span>My Cart</span>   
        <span></span>
        <span>
            <button mat-icon-button (click)="closeCart()" mat-dialog-close ><mat-icon>close</mat-icon></button>
        </span> 
        </mat-toolbar>
        Cart Data here.... Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aliquid tenetur repellat nostrum, dolor deleniti! Molestiae ad atque facere omnis, tempore culpa eaque! Error in ducimus saepe cumque magni mollitia.
    </div>
}